version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: moviematch
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: .
    depends_on:
      - db
    environment:
      PORT: "8080"
      DB_URL: "postgres://user:password@db:5432/moviematch?sslmode=disable"
      JWT_SECRET: "change-me-in-prod"
    ports:
      - "8080:8080"

volumes:
  db_data:
